<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Fusion Affair</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</head>
<body>
    <!-- CREDIT STARTS -->
    <p class="credit">INSPIRED BY <a href="http://www.clayboan.com/"> CLAY BOAN</a></p>
    <!-- CREDIT ENDS -->

    <!-- NUMBER STARTS -->
    <p class="number">3/3</p>
    <!-- NUMBER ENDS -->

    <!-- SOCIAL STARTS -->
    <div class="social">
        <a href="https://www.instagram.com/snigdha_.saikia/" target="_blank"><span class="iconify instagram" data-inline="false" data-icon="logos:instagram" style="color:#DFAE85; "></span></a>
        <a href="https://www.youtube.com/channel/UCywYIa4KgmHe9OOkGzN7qSQ" target="_blank"><span class="iconify youtube" data-inline="false" data-icon="icomoon-free:youtube2" style="color: #42403d; "></span></a>
    </div>
    <!-- SOCIAL ENDS -->

    <!-- COLOR-SCHEME STARTS -->
    <div class="color-scheme">
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
    </div>
    <!-- COLOR-SCHEME ENDS -->

    <!-- HEADING STARTS -->
    <p class="heading">THE FUSION AFFAIR</p>
    <p class="heading-2">BY SNIGDHA</p>
    <!-- HEADING STARTS -->

    <!-- GALLERY STARTS -->
    <div class="gallery ">
        <div class="pic gallery-mid"><img src="../uploads/mid.jpg"> </div>
        <div class="pic gallery-right"><img src="../uploads/right.jpeg"> </div>
        <div class="pic gallery-left"><img src="../uploads/left.jpg"> </div>
    </div>
    <!-- GALLERY ENDS -->

    <div class="bg"></div>

    
    
    
</body>
</html>